<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>
  <body ng-app="brushfire">
    <%- partial('./partials/navigation.ejs') %>
    <%- body %>
    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->
    
    <script type="text/javascript">
    window.SAILS_LOCALS1 = { 
      me: { 
        id: <%- JSON.stringify(me.id||null) %>,
        email: <%- JSON.stringify(me.email||null) %>
      }
    }; 
    </script>
    
    
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-route.min.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/angular-toastr.tpls.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/jquery-1.11.2.min.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/lodash.js"></script>
    <script src="/js/dependencies/ng-pattern-restrict.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/adminUsersPageController.js"></script>
    <script src="/js/controllers/editProfilePageController.js"></script>
    <script src="/js/controllers/homePageController.js"></script>
    <script src="/js/controllers/navPageController.js"></script>
    <script src="/js/controllers/profilePageController.js"></script>
    <script src="/js/controllers/restorePageController.js"></script>
    <script src="/js/controllers/signupPageController.js"></script>
    <script src="/js/controllers/videosPageController.js"></script>
    <!--SCRIPTS END-->
  </div>
</body>
</html>